.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

body {
    background-color: var(--bg-secondary);
}

.logo img {
    max-width: 150px; /* Adjust as per logo size */
}

/* Buttons */
.buttons {
    display: flex;
    gap: 20px;
}

/* Form container */
.form-container {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin: 2rem;
}

.form-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); */
}

/* Form styling */
.form-group1 {
    margin-bottom: 20px;
    width: 40%;
}

.appointment-form label {
    font-size: 20px;
    color: black;
    display: block;
    margin-bottom: 8px;
}
