* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    --color-primary: rgb(2 44 34);
    --color-secondary: #08604a;
    --bg-primary: rgb(5 150 105);
    --bg-secondary: rgba(243 244 246);
    --bg-navbar: rgba(255, 255, 255, 0.7);
    --bg-icon-btn: #a7f3d0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    color: var(--color-primary);
}


a{
    text-decoration: none;
}

.main-logo {
    height: 50px;
    width: 50px;
    justify-self: start;
}

.side-logo {
    color: var(--bg-primary);
    font-weight: 500;
    font-size: 1.3rem;
}

.btn {
    padding: 12px 24px;
    border: none;
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
    text-transform: uppercase;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 0.75rem;
    z-index: 1;
}

.icon-btn{
    height: 40px;
    transition: all 300ms;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 0.5rem;
    border: solid 1px var(--bg-primary);

    &:hover{
        background-color: var(--bg-icon-btn);
    }
}

.outline-btn{
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 8px 1.5rem;
    justify-content: center;

    transition: all 200ms;
    border: solid 1px var(--bg-icon-btn);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-secondary);
    font-size: 0.75rem;




    &:hover{
        border: solid 1px var(--bg-primary);
    }
}

.navbar {
    display: flex;
    justify-content: end;
    color: var(--color-primary);
    position: sticky;
    top: 0;
    gap: 1rem;
    z-index: 10;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 0.7rem 1rem;
    background-color: var(--bg-navbar);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}


.btn::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: inherit;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 0.5rem;
    transition: all 200ms cubic-bezier(.67, .89, .7, 1.67);
    z-index: -1;
}

.btn:hover::before {
    height: 120%;
    width: 107%;
}


.full-column{
    grid-column: 1/-1;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid rgb(197, 197, 197);
    background-color: white;
    height: 3rem;



    &:focus{
        border: 1px solid var(--bg-primary);

    }
}


.active{
    background-color: var(--bg-icon-btn);
}
