

.main-logo {
    height: 50px;
    width: 50px;
    justify-self: start;
}

.side-logo {
    color: var(--bg-primary);
    font-weight: 500;
    font-size: 1.3rem;
}

.bg-secondary {
    background-color: var(--bg-secondary);
}


.main-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem;
    justify-content: end;
    gap: 5rem;
}

.text-secondary {
    font-weight: 300;
    line-height: 2em;
    padding: 1rem;
}

.text-subtitle {
    font-weight: 300;
    line-height: 2em;
}

.title {
    font-size: 2rem;
    padding: 2rem 0;

}

.text-container {
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
}



.responsive-img {
    max-width: 600px;
    padding-top: 6rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.navbar {
    display: flex;
    justify-content: end;
    color: var(--color-primary);
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    gap: 2rem;
    padding: 0.7rem 1rem;
    background-color: var(--bg-navbar);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}



.btn-container {
    padding: 3rem;
    display: flex;
    justify-content: center;
}



.section {
    background-color: var(--bg-secondary);
    padding: 3rem;
    border-radius: 0.375rem;
    color: var(--color-primary);
    display: grid;
    gap: 2rem;
}