body{
    background-color: var(--bg-secondary);
}
.registration-container {
    padding: 1.5rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}





